.inputError,
.projectInputError {
  color: red;
}

.card[data-priority="low"] {
  .badge {
    background-color: black;
    color: lightskyblue;
  }
}
.card[data-priority="normal"] {
  .badge {
    background-color: black;
    color: greenyellow;
  }
}
.card[data-priority="high"] {
  .badge {
    background-color: black;
    color: yellow;
  }
}
.card[data-priority="urgent"] {
  .badge {
    background-color: black;
    color: red;
  }
}

.js-project-item {
  background-color: none !important;
}

/* CARD ROTATION CODE FOR DESCRIPTION */

.card-container {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.css-todo-card-front,
.css-todo-card-back {
  max-width: 16rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.css-todo-card-back {
  width: 16rem;
  top: 0;
  position: absolute;
  align-self: center;
  transform: rotateY(180deg);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 575px) {
  .css-todo-card-front,
  .css-todo-card-back,
  .flip-card {
    max-width: 100%;
    width: 100%;
  }

  .card-container {
    margin: 0 auto;
    width: 80%;
  }
}

h2[value="default project"] {
  cursor: pointer;
  padding: 1rem;
  transition: border-color 0.2s ease;
}

h2[value="default project"]:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
}
